@import "compass/css3";

#carre2 {
    margin : auto;
    margin-bottom: 120;
    margin-top: 120;
    height: 1200px;
    width: 950px;
    background: white;
    border : 3px black solid;
    box-shadow : 2px 2px 2px black;
}

#carreoption {
	margin :auto;
	margin-top: -25;
	border : 3px black solid;
	box-shadow : 1px 1px 1px black;
	height: 430px;
	width : 550px;
}
#envoyer {
	margin-left : 430;
	margin-top : 13;
}
h2 {
	margin-left:40 ;
	margin-top: 30;

}

h5{
	margin-left :100;
	margin-top : 50;
	font-size : 22;
	text-decoration : underline;
}  
h6 {
	margin-top: 15;
	margin-left : 100;
	font-size :22;
	text-decoration : underline;
}
#rectangle1 {
	margin : auto;
	margin-top: 50;
    height: 100px;
    width: 800px;
    background: white;
    border : 3px black solid;
    box-shadow : 2px 2px 2px black;

}

#rectangle2 {
	margin : auto;
	margin-top: 50;
    height: 100px;
    width: 800px;
    background: white;
    border : 3px black solid;
    box-shadow : 2px 2px 2px black;
 
}
#texti {
	margin-left:340;
	font-size:24;
}
.text1 {
	font-size : 20px;
}
#toutesoptions {
	margin-left:70;
	margin-top : 10;
}
#modifierprofil {
	 margin-left:70;
	 margin-top:10;
}

#ajoutlogement {
	 margin-left:70;
	 margin-top:10;
	
	}

#ajoutcapteur {
	 margin-left:70;
	 margin-top:10;

}

#actionner {
     margin-left:70;
	 margin-top:10;
}

#modifierphoto {
     margin-left:70;
	 margin-top:10;
}
#gestionautomatisations {
     margin-left:70;
	 margin-top:10;
}

#allumercapteur {
     margin-left:70;
	 margin-top:10;
}

#email {
	margin-top: 10;
	margin-left:340;
	 font-size :24;
}
#mdpblock {
	margin-left: 340;
	font-size:24;
	margin-top :10;
}
#menuderoulant {
	margin-top : 10;
	margin-left :340;
	font-size :24;
}
.croixgris {
float : right;
margin-top : -45px;
margin-right : 20px;
}

.paragraphe {
	margin-left : 20px;
	font-size : 25px;
	margin-top : 25px;
}

#On1 {
	margin-left: 181;
	background:green;
	border:1px solid black;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On1:hover {
	
	background-color:#3b781c;
}
#On1:active {
	position:relative;
	top:1px;
}


#Off1 { 
	margin-left :15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off1:hover {
	
	background-color:#bc3315;
}
#Off1:active {
	position:relative;
	top:1px;
}

#On2 {
	margin-left: 157;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}

#On2:hover {
	
	background-color:#3b781c;
}
#On2:active {
	position:relative;
	top:1px;
}


#Off2 {
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off2:hover {
	
	background-color:#bc3315;
}
#Off2:active {
	position:relative;
	top:1px;
}

#On3 {
	margin-left : 122;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On3:hover {
	
	background-color:#3b781c;
}
#On3:active {
	position:relative;
	top:1px;
}


#Off3 {
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off3:hover {
	
	background-color:#bc3315;
}
#Off3:active {
	position:relative;
	top:1px;
}
#On4 {
	margin-left : 5;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On4:hover {
	
	background-color:#3b781c;
}
#On4:active {
	position:relative;
	top:1px;
}


#Off4 {
	margin-left :15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off4:hover {
	
	background-color:#bc3315;
}
#Off4:active {
	position:relative;
	top:1px;
}

#On5 {
	margin-left: 68;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On5:hover {
	
	background-color:#3b781c;
}
#On5:active {
	position:relative;
	top:1px;
}


#Off5 {
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off5:hover {
	
	background-color:#bc3315;
}
#Off5:active {
	position:relative;
	top:1px;
}

#On6 {
	margin-left: 133;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On6:hover {
	
	background-color:#3b781c;
}
#On6:active {
	position:relative;
	top:1px;
}


#Off6 { 
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off6:hover {
	
	background-color:#bc3315;
}
#Off6:active {
	position:relative;
	top:1px;
}

#On7 {
	margin-left: 42;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On7:hover {
	
	background-color:#3b781c;
}
#On7:active {
	position:relative;
	top:1px;
}


#Off7 {
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off7:hover {
	
	background-color:#bc3315;
}
#Off7:active {
	position:relative;
	top:1px;
}

#On8 {
	margin-left: 35;
	background:green;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#On8:hover {
	
	background-color:#3b781c;
}
#On8:active {
	position:relative;
	top:1px;
}



#Off8 {
	margin-left: 15;
	background:red;
	border:1px solid black;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:16px;
	padding:7px 9px;
}
#Off8:hover {
	
	background-color:#bc3315;
}
#Off8:active {
	position:relative;
	top:1px;
}

.croix {
	float : right;
	margin-top:-110;
	margin-right: -30;
}


#menu, #menu ul /* Liste */     

{
        float : right;
        padding : 0; /* pas de marge intérieure */

        margin-right : -700; /* ni extérieure */

        list-style : none; /* on supprime le style par défaut de la liste */

        line-height : 21px; /* on définit une hauteur pour chaque élément */

        text-align : center; /* on centre le texte qui se trouve dans la liste */

}


#menu /* Ensemble du menu */

{      
	margin-top: 80;

        font-weight : bold; /* on met le texte en gras */

        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */

        font-size : 12px; /* hauteur du texte : 12 pixels */

}


#menu a /* Contenu des listes */

{

        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */

        padding : 0; /* aucune marge intérieure */

        background :silver; /* couleur de fond */        

        color : black; /* couleur du texte */

        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

        width : 144px; /* largeur */

}


#menu li /* Elements des listes */      

{ 

        float : left; 

        /* pour IE qui ne reconnaît pas "transparent" */

        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li

{

        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */

}


#menu li ul /* Sous-listes */

{ 

        position: absolute; /* Position absolue */

        width: 144px; /* Largeur des sous-listes */

        left: -999em; /* Hop, on envoie loin du champ de vision */

}



#menu li ul li /* Éléments de sous-listes */

{

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li                

{

        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */

}


#menu li ul ul 

{

        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      

}


/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */

html>body #menu li ul ul                

{

        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}

#menu a:hover /* Lorsque la souris passe sur un des liens */    

{

        color: #000; /* On passe le texte en noir... */

        background: #fff; /* ... et au contraire, le fond en blanc */

}
#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */

{

        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */

}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */

{

        left: auto; /* Repositionnement normal */

        min-height: 0; /* Corrige un bug sous IE */

}

